In [1]:
interest1 = "삼성전자"
interest2 = "LG전자"
interest3 = "네이버"

In [2]:
interest1

'삼성전자'

In [3]:
interest = ["삼성전자", "LG전자", "네이버"]

In [4]:
interest[0]

'삼성전자'

In [5]:
interest[1]

'LG전자'

In [6]:
interest[2]

'네이버'

In [7]:
# 3-1) 리스트 생성

In [8]:
daishin = [9130, 9150, 9150, 9300, 9400]

In [9]:
daishin = [9130.0, 9150.0, 9150.0, 9300.0, 9400.0]

In [10]:
mystock = ['Naver', 5000]

In [11]:
mystock = []

In [12]:
buy_list = ['Naver', 5000]
buy_list[0]

'Naver'

In [13]:
buy_list[1]

5000

In [14]:
daishin = [9130, 9150, 9150, 9300, 9400]
daishin[0]

9130

In [15]:
daishin[-1]

9400

In [16]:
# 3-3) 리스트 슬라이싱

In [17]:
kospi_top10 = ['삼성전자', 'SK하이닉스', '현대차', '한국전력', '아모레퍼시픽', '제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스']

In [18]:
print("시가총액 5위: ", kostpi_top10[4])

NameError: name 'kostpi_top10' is not defined

In [19]:
print("시가총액 5위: ", kospi_top10[4])

시가총액 5위:  아모레퍼시픽

In [20]:
kospi_top5 = kospi_top10[0:5]
kospi_top5

['삼성전자', 'SK하이닉스', '현대차', '한국전력', '아모레퍼시픽']

In [21]:
kospi_top10[5:]

['제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스']

In [22]:
kospi_top10[:5]

['삼성전자', 'SK하이닉스', '현대차', '한국전력', '아모레퍼시픽']

In [23]:
kospi_top10[5:9]

['제일모직', '삼성전자우', '삼성생명', 'NAVER']

In [24]:
kospi_top10[5:-1]

['제일모직', '삼성전자우', '삼성생명', 'NAVER']

In [25]:
# 3-4) 리스트에 데이터 삽입하기

In [26]:
kospi_top10 = ['삼성전자', 'SK하이닉스', '현대차', '한국전력', '아모레퍼시픽', '제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스']

In [27]:
kospi_top10.append('SK텔레콤')

In [28]:
kospi_top10

['삼성전자',
 'SK하이닉스',
 '현대차',
 '한국전력',
 '아모레퍼시픽',
 '제일모직',
 '삼성전자우',
 '삼성생명',
 'NAVER',
 '현대모비스',
 'SK텔레콤']

In [29]:
kospi_top11 = kospi_top10
kospi_top11

['삼성전자',
 'SK하이닉스',
 '현대차',
 '한국전력',
 '아모레퍼시픽',
 '제일모직',
 '삼성전자우',
 '삼성생명',
 'NAVER',
 '현대모비스',
 'SK텔레콤']

In [30]:
kospi_top10 = ['삼성전자', 'SK하이닉스', '현대차', '한국전력', '아모레퍼시픽', '제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스']
kospi_top10.insert(3, 'SK 텔레콤')
kospi_top10

['삼성전자',
 'SK하이닉스',
 '현대차',
 'SK 텔레콤',
 '한국전력',
 '아모레퍼시픽',
 '제일모직',
 '삼성전자우',
 '삼성생명',
 'NAVER',
 '현대모비스']

In [31]:
# 3-5) 리스트 데이터 삭제

In [32]:
len(kospi_top10)

11

In [33]:
kospi_top10[-1]

'현대모비스'

In [34]:
del kospi_top10[-1]
kospi_top10

['삼성전자',
 'SK하이닉스',
 '현대차',
 'SK 텔레콤',
 '한국전력',
 '아모레퍼시픽',
 '제일모직',
 '삼성전자우',
 '삼성생명',
 'NAVER']

In [35]:
len(kospi_top10)

10

In [36]:
# 3-2) 튜플
# 튜플은 리스트보다 속도가 빠르다는 장점이 있습니다. 따라서 한번 데이터를 저장해둔 후 추가하거나 삭제할 필요가 없는 경우라면 되도록 리스트보다는 튜플을 사용하는 것이 좋습니다. 먼저 튜플을 하나 만들어 봅시다.

In [37]:
t = ('Samsung', 'LG', 'SK')
t

('Samsung', 'LG', 'SK')

In [38]:
len(t)

3

In [39]:
t[0]

'Samsung'

In [40]:
t[0] = "Naver"

TypeError: 'tuple' object does not support item assignment

In [41]:
# 3-2-1) 튜플 슬라이싱

In [42]:
t[0:2]

('Samsung', 'LG')

In [43]:
# 3-3) 딕셔너리

In [44]:
cur_price = {}

In [45]:
type(cur_price)

dict

In [46]:
cur_price['daishin']= 30000
cur_price

{'daishin': 30000}

In [47]:
cur_price['Daum KAKAO'] = 80000
cur_price

{'daishin': 30000, 'Daum KAKAO': 80000}

In [48]:
len(cur_price)

2

In [49]:
cur_price[0]

KeyError: 0

In [50]:
cur_price['daishin']

30000

In [51]:
# 3-3-1) 딕셔너리에 데이터 삽입 및 삭제

In [52]:
cur_price['naver'] = 800000
cur_price

{'daishin': 30000, 'Daum KAKAO': 80000, 'naver': 800000}

In [53]:
cur_price = {'Daum KAKAO':80000, 'naver':800000, 'daishin':30000}
cur_price

{'Daum KAKAO': 80000, 'naver': 800000, 'daishin': 30000}

In [54]:
del cur_price['daishin']
cur_price

{'Daum KAKAO': 80000, 'naver': 800000}

In [55]:
# 3-3-2) 딕셔너리로부터 키-값 구하기

In [56]:
cur_price.keys()

dict_keys(['Daum KAKAO', 'naver'])

In [57]:
list(cur_price.keys())

['Daum KAKAO', 'naver']

In [58]:
stock_list = list(cur_price.keys())
stock_list

['Daum KAKAO', 'naver']

In [59]:
price_list = list(cur_price.values())
price_list

[80000, 800000]

In [60]:
'Samsung' in cur_price.keys()

False

In [61]:
'naver' in cur_price.keys()

True

In [62]:
cur_price['naver']

800000

In [63]:
cur_price['Samsung']

KeyError: 'Samsung'

In [64]:
# 3-4) 연습문제

In [65]:
# Q 3-1
naver_closing_price = (474500, 461500, 501000, 500500, 488500)
naver_closing_price

(474500, 461500, 501000, 500500, 488500)

In [73]:
type(naver_closing_price)
# 튜플로 만들었음 리스트는 [ ]

tuple

In [66]:
print(max(naver_closing_price))

# 변수로 바인딩하는 습관 들이기

501000

In [68]:
week_min = min(naver_closing_price)
print(week_min)

461500

In [69]:
week_diff = max(naver_closing_price) - min(naver_closing_price)
print(week_diff)

39500

In [70]:
print(naver_closing_price[2])

501000

In [71]:
naver_closing_price2 = {"9/07":474500, "9/08":461500, "9/09":501000, "9/10":500500, "9/11":48850}
naver_closing_price2

{'9/07': 474500, '9/08': 461500, '9/09': 501000, '9/10': 500500, '9/11': 48850}

In [72]:
naver_closing_price2["9/09"]

501000